.password-modal-wrapper {
  position: fixed;
  width: 100%;
  height: 90%;
  background-color: rgba(145, 145, 145, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.password-modal {
  background-color: white;
  padding: 20px;
  width: 25vw;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.password-modal-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.password-modal-heading .close-icon {
  height: 20px;
  cursor: pointer;
  padding: 2px;
}

.close-icon:hover {
  background-color: lightgray;
  border-radius: 50%;
}

.password-field {
  margin-bottom: 10px;
}

.password-modal input {
  border: solid 2px gray;
}

.password-modal h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.password-modal button {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(25, 25, 170);
  border-color: rgb(25, 25, 170);
  border-radius: 10px;
  color: white;
  padding: 2px 5px;
}